.display-columns {
  background-color: inherit;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-button {
  background-color: #4a4a6a;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-radius: 4px;
  height: 25px;
  font-size: 12px;
  color: white;
  border: 1px solid white;
}
.search-input:active {
  border: 1px solid green;
}
.columns {
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;
}

.all-columns,
.column-item {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.all-columns input,
.column-item input {
  margin-right: 0.5rem;
}

.icon {
  margin-right: 0.5rem;
}

/* Custom scrollbar styles */
.columns::-webkit-scrollbar {
  width: 5px;
  background-color: inherit;
}

.columns::-webkit-scrollbar-track {
  background: #3a3a4a;
  border-radius: 2px;
}

.columns::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}
