.Navbar {
  border: none;
  color: white;
  padding: 4px 6px 4px 4px;
}
.logoImage {
  width: 20px;
  height: 15px;
}

.Name {
  font-weight: 600;
}

.navbarButton {
  padding: 2px;
  font-size: 14px;
  background-color: inherit;
  color: rgb(11, 170, 103);
  border: 1px solid rgb(11, 170, 103);
  font-weight: 500;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.ButtonHolder:hover {
  color: white;
}
.navbarButton:hover {
  color: white;
  background-color: rgba(2, 82, 49, 255);
}
.right-bar {
  font-size: 10px;
  margin-right: 10px;
}

.icons {
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.Sepration {
  height: 18px;
  border-left: 1px solid white;
  padding: 5px;
}

.icons:hover {
  background-color: #3c405a;
}

.ProfileHolder {
  background-color: #3c405a;
  padding: 3px;
  border-radius: 5px;
}
.monday {
  background-color: #3c405a;
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
