.task-detail-layout {
  background-color: yellow;
  color: white;
  padding: 20px;
  position: relative;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
}

.content {
  display: flex;
  margin-top: 20px;
}

.item-description {
  flex: 2;
  margin-right: 30px;
}

.item-description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid white;
}

.item-description-header h3 {
  margin: 0;
}

.item-description textarea {
  width: 100%;
  background-color: #1c2330;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.task-overview {
  flex: 1;
  background-color: #1c2330;
  padding: 20px;
  position: relative;
}

.sprinthome {
  font-size: small;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.editable-field {
  cursor: pointer;
  padding: 5px;
  background-color: #1c2330;
  border: 1px solid #555;
  border-radius: 5px;
  margin-top: 5px;
}

.task-field {
  position: relative;
}
.dropdown-wrapper {
  position: absolute;
  z-index: 3000;
  background-color: #1c2330;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 350px;
  width: 25%;
}

/* Task field styling */
.task-field {
  margin-bottom: 20px;
  position: relative;
}

/* Dialog styling */
.MuiDialog-paper {
  background-color: #0e1420;
  color: white;
}

.MuiDialogTitle-root,
.MuiDialogContent-root,
.MuiDialogActions-root {
  color: white;
}

/* Typography for header and content */
.MuiTypography-root {
  color: white;
}

textarea {
  color: white;
  background-color: #1e2a38;
}
